[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
langchain = "*"
bs4 = "*"
openai = "*"
python-dotenv = "*"
google-search-results = "*"

[dev-packages]

[requires]
python_version = "3.9"
